#title, .subtitle, .posttitle{
    color: blue;
}

.posttitle{
    font-size: 16px;
    font-style: italic;
}

.img-lucas-topo{
    border-radius: 50%;
    width: auto;
    height: 100px;
}
.img-code-post{
    width: 250px;
}