body{
    background: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
    margin: auto;
}

.post{
    background: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    text-align: justify;
}

#title, .subtitle, .posttitle{
    color: blue;
}

.posttitle{
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}

.img-lucas-topo{
    border-radius: 50%;
    width: auto;
    height: 100px;
}
.img-code-post{
    align-items: center;
    width: 100%;
}

.lista-contatos{
    list-style-type: none;
    padding: 10px;
}

.lista-contatos li a{
    color: black;
    text-decoration: none;
}